@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">This is a webpage for the Restaurant Rater Application.</p>
    <p><a href="#" class="learn-more">Learn more about the Restaurant Rater Application</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            here's how to use the application.
        </p>
        <p><a class="learn-more" href="#">Learn more &raquo;</a></p> <!--shows the >> after the 'learn more'-->
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Some more information here</p>
        <p><a class="learn-more" href="#">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="learn-more" href="#">Learn more &raquo;</a></p>
    </div>
</div>